{% extends 'base.html.twig' %}


{% block body %}

	<div>
		<img class="img-fluid" style="min-width:100vw;height:200px;" src="/images/banniere2.jpg" alt="banniere-du-site">
	</div>

	<h1>Ecole ERN23</h1>
{% endblock %}
